@import '../../set-up.component.scss';
@import 'src/assets/style-variables.scss';

#container {
    @extend #container;
    
    #input-container {
        display: flex;
        // add agp between children elements
        gap: 10px;
        // center vertically
        align-items: center;

        input[type="number"] {
            width: 50px;
            padding: 10px;
            border: 1px solid $secondary;
            color: $bg;
            background-color: $secondary;
            border-radius: 4px;
            box-sizing: border-box;
            // center
            text-align: center;
            // remove arrows
            -moz-appearance: textfield; // for Firefox

            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button { // for Chrome, Safari, Edge
                -webkit-appearance: none;
                margin: 0;
            }

    
            &:focus {
                outline: 1px solid $primary !important; // Modify this line
            }
        }
    }
    
    
}