<div id="container">
    <div id="contents">
        <h1>Set a cooldown</h1>
        <small>Determine how often a single person can add songs into your queue <br>Leave empty if you don't want to set a cooldown.</small>
        <input type="time" id="cooldown" name="cooldown" [(ngModel)]="cooldown">

        <app-main-button [text]="'next'" [size]="'large'" (click)="goToNext()"></app-main-button>
        <app-secondary-button [text]="'back'" [size]="'large'" (click)="goToBack()"></app-secondary-button>
    </div>
</div>