@import 'src/assets/style-variables.scss';


button {
    width: fit-content;

    &.small {
        font-size: 12px;
        padding: 5px 10px;
    }

    &.medium {
        font-size: 16px;
        padding: 10px 20px;
    }

    &.large {
        font-size: 20px;
        padding: 15px 30px;
    }

    &.xl {
        font-size: 24px;
        padding: 20px 40px;
        min-width: 342px;
    }
    
    border-radius: 8px;
    border: 1px solid $bg;

    background-color: $primary;

    box-shadow: 4px 4px 0px 0px $primary;

    cursor: pointer;

    color: $text;

    &:hover {
        // make it bounce
        animation: bounce 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        // define the bounce animation
        @keyframes bounce {
            0%, 100% {
                box-shadow: 4px 4px 0px 0px $primary;
            }
            25%, 75% {
                box-shadow: 8px 8px 0px 0px $primary; // Increase the shadow size
            }
            50% {
                box-shadow: 2px 2px 0px 0px $primary; // Add a "dip" in the middle of the bounce
            }
        }
    }

    &:active {
        transform: scale(0.95);
    }
}