@import '../landing-page/landing-page.component.scss';
@import 'src/assets/style-variables.scss';

#container {
    @extend #container;

    display: flex;
    flex-direction: column;

    h1 {
        max-width: 1057px;
    }


    small {
        margin-top: 12px;
        a {
            color: $accent;
        }
    }

    @media (max-width: 860px) {
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }
}