@import 'src/assets/style-variables.scss';



#container {
    height: 100vh;
    width: 100%;
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    
    

    #contents {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: auto 0;
        height: 65%;
        > *:last-child {
            margin-top: auto; // Adjust this value as needed
        }

        h5 {
            max-width: 660px;
        }

    }

    svg {
        position: absolute;
        bottom: 20px; /* Adjust as needed */
        left: 50%;
        transform: translateX(-50%); /* This centers the SVG */
    }

    // Styles for mobile devices
    @media (max-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
        #contents {
            margin: 100px auto;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
}