<div id="container" *ngIf="homeService.event; else noEvent">
    <div id="contents">
        <h2>
            {{ homeService.event.name }}
        </h2>
        <div
            #tooltip="matTooltip"
            id="url-container"
            class="info-container"
            matTooltip="{{ tooltipText }}"
            (click)="copyToClipboard(homeService.clientUrl)">
            <div class="label">url:</div>
            {{ homeService.clientUrl }}
        </div>
        <div id="logs-and-requests">
            <div id="logs">
                <div class="info-container">
                    <div class="label">logs:</div>
                </div>
                <div class="entry" *ngFor="let song of logs">
                    <small
                        >added {{ song.title }} by {{ song.artists }} to
                        queue</small
                    >
                </div>
            </div>
            <div id="requests">
                <div class="info-container">
                    <div class="label">requests:</div>
                </div>
                <div
                    class="entry"
                    *ngFor="let song of requests"
                    (click)="toggleInfo(song.id)">
                    <small>
                        request to add
                        <small class="title">
                            {{ song.title }}
                        </small>
                        by {{ song.artists }} to queue
                    </small>

                    <div
                        id="hidden-info"
                        [@expandCollapse]="showInfo[song.id] || 'collapsed'">
                        <div class="middle-buttons">
                            <button
                                class="accept"
                                (click)="acceptRequest(song.id)">
                                accept
                            </button>
                            <button
                                class="reject"
                                (click)="rejectRequest(song.id)">
                                reject
                            </button>
                        </div>
                        <button class="suspend" (click)="suspendUser(song.id)">
                            suspend
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #noEvent>
    <div id="container">
        <h2>You have no active events.</h2>
        <h5>Creating a new event is easy!</h5>
        <app-main-button
            [size]="'xl'"
            [text]="'create event'"
            (click)="startSetup()"></app-main-button>
    </div>
</ng-template>
